#main
{
    text-align: center;
}
h1 {
    color: #000000;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    }
    
.categories
{
    display: flex;
    gap: 10px;
    justify-content: center;
}
button{
    color: #764104;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(246, 248, 248);
}
.food-cards
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
    justify-items: center;
}
.card-item
{
    width: 400px;
    display: flex;
    gap: 5px;
    box-shadow: 1px 1px 3px grey;
}
img
{
    width: 35%
}
.details
{
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-items: flex-start;
    padding: 5px;
}
.details-top
{
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #764104;
    border-bottom: 1px solid brown;
}
.food-desc
{
    text-align: justify;
}
.details-top *
{
    padding: 0px;
    margin: 0px;
}